## SQL Alchemy run through

In the previous notebook, we made an RDS Instance that contains all of our tables. In this subsection, we will go over retrieving this information using SQL Alchemy

## Making the engine

In [1]:
from sqlalchemy import create_engine, select
from sqlalchemy.dialects.postgresql import psycopg2
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
import psycopg2
import sqlalchemy

In [2]:
import boto3
import pandas as pd

In [3]:
int(sqlalchemy.__version__[0]) >= 1

True

In [4]:
from sqlalchemy.sql import and_, or_

In [5]:
from sqlalchemy import func, text, case

In [6]:
from pprint import pprint

### first get the rds instance we deployed earlier

In [7]:
rds = boto3.client('rds')

In [8]:
instances = list(filter(lambda instance: instance['DBInstanceStatus']=='available', rds.describe_db_instances()['DBInstances']))

In [9]:
instance = instances[0]

In [10]:
address, port = instance['Endpoint']['Address'], instance['Endpoint']['Port']
db_name = instance['DBName']
username = instance['MasterUsername']
password = 'TestPassword'

In [11]:
address, db_name

('cfsdb.cs4yyoqmq4gl.us-west-1.rds.amazonaws.com', 'cfsdb')

In [12]:
engine = create_engine('postgresql+psycopg2://{username}:{password}@{add}:{port}/{db_name}'.format(
    username=username,
    password=password,
    add=address,
    port=port,
    db_name=db_name), echo=True)

In [13]:
conn = engine.connect()

2015-12-24 20:02:21,109 INFO sqlalchemy.engine.base.Engine select version()

INFO:sqlalchemy.engine.base.Engine:select version()

2015-12-24 20:02:21,110 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:21,155 INFO sqlalchemy.engine.base.Engine select current_schema()

INFO:sqlalchemy.engine.base.Engine:select current_schema()

2015-12-24 20:02:21,156 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:21,198 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2015-12-24 20:02:21,199 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:21,223 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2015-12-24 20:02:21,224 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:21,268 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings

INFO:sqlalchemy.engine.base.Engine:show standard_conforming_strings

2015-12-24 20:02:21,269 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

In [ ]:
# at this point we can remove entry 0 that we used in the earlier notebook
conn.execute("""
             DELETE FROM ONLY transactions
             WHERE "SHIPMT_ID" = 0 """)

In [ ]:
assert conn.execute("""
    SELECT  "SHIPMT_ID" 
    FROM transactions
    LIMIT 1
    """).fetchall()[0][0] == 1, "Failed to delete row"

In [ ]:
# first try some basic sql queries
# get hazardous or not hazardous
q = conn.execute("""
             SELECT 
             CASE WHEN "HAZMAT" = 'P' OR "HAZMAT" = 'H' THEN 'Hazardous' 
                  WHEN "HAZMAT" = 'N' THEN 'Not Hazardous' 
                  ELSE  'n/a' END AS "hazmat", 
             COUNT(1) 
             FROM transactions 
             GROUP BY 1
             """
             )

In [ ]:
q.fetchall()

### Now that you have it working, use SqlAlchemy to show all the tables you currently have

MetaData allows you to store all the information about all the tables in your database in a convenient location you have to use the reflect method of MetaData to accomplish this.

In [14]:
meta = MetaData()

In [15]:
meta.reflect(engine)

2015-12-24 20:02:32,335 INFO sqlalchemy.engine.base.Engine SELECT relname FROM pg_class c WHERE relkind = 'r' AND 'public' = (select nspname from pg_namespace n where n.oid = c.relnamespace)

INFO:sqlalchemy.engine.base.Engine:SELECT relname FROM pg_class c WHERE relkind = 'r' AND 'public' = (select nspname from pg_namespace n where n.oid = c.relnamespace)

2015-12-24 20:02:32,336 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:32,383 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

INFO:sqlalchemy.engine.base.Engine:
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2015-12-24 20:02:32,384 INFO sqlalchemy.engine.base.Engine {'table_name': 'transport_mode'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'transport_mode'}

2015-12-24 20:02:32,430 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

INFO:sqlalchemy.engine.base.Engine:
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2015-12-24 20:02:32,431 INFO sqlalchemy.engine.base.Engine {'table_oid': 16395}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16395}

2015-12-24 20:02:32,486 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2015-12-24 20:02:32,487 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:32,518 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

2015-12-24 20:02:32,519 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:32,544 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

INFO:sqlalchemy.engine.base.Engine:
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2015-12-24 20:02:32,546 INFO sqlalchemy.engine.base.Engine {'table_oid': 16395}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16395}

2015-12-24 20:02:32,570 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2015-12-24 20:02:32,571 INFO sqlalchemy.engine.base.Engine {'table_oid': 16395}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16395}

2015-12-24 20:02:32,598 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2015-12-24 20:02:32,599 INFO sqlalchemy.engine.base.Engine {'table': 16395}

INFO:sqlalchemy.engine.base.Engine:{'table': 16395}

2015-12-24 20:02:32,623 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

INFO:sqlalchemy.engine.base.Engine:
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2015-12-24 20:02:32,624 INFO sqlalchemy.engine.base.Engine {'table_oid': 16395}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16395}

2015-12-24 20:02:32,648 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

INFO:sqlalchemy.engine.base.Engine:
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2015-12-24 20:02:32,649 INFO sqlalchemy.engine.base.Engine {'table_oid': 16395}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16395}

2015-12-24 20:02:32,675 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

INFO:sqlalchemy.engine.base.Engine:
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2015-12-24 20:02:32,675 INFO sqlalchemy.engine.base.Engine {'table_name': 'state_latlon'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'state_latlon'}

2015-12-24 20:02:32,697 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

INFO:sqlalchemy.engine.base.Engine:
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2015-12-24 20:02:32,699 INFO sqlalchemy.engine.base.Engine {'table_oid': 16401}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16401}

2015-12-24 20:02:32,731 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2015-12-24 20:02:32,733 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:32,756 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

2015-12-24 20:02:32,757 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:32,781 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

INFO:sqlalchemy.engine.base.Engine:
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2015-12-24 20:02:32,783 INFO sqlalchemy.engine.base.Engine {'table_oid': 16401}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16401}

2015-12-24 20:02:32,807 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2015-12-24 20:02:32,808 INFO sqlalchemy.engine.base.Engine {'table_oid': 16401}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16401}

2015-12-24 20:02:32,840 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2015-12-24 20:02:32,841 INFO sqlalchemy.engine.base.Engine {'table': 16401}

INFO:sqlalchemy.engine.base.Engine:{'table': 16401}

2015-12-24 20:02:32,865 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

INFO:sqlalchemy.engine.base.Engine:
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2015-12-24 20:02:32,866 INFO sqlalchemy.engine.base.Engine {'table_oid': 16401}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16401}

2015-12-24 20:02:32,891 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

INFO:sqlalchemy.engine.base.Engine:
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2015-12-24 20:02:32,893 INFO sqlalchemy.engine.base.Engine {'table_oid': 16401}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16401}

2015-12-24 20:02:32,917 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

INFO:sqlalchemy.engine.base.Engine:
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2015-12-24 20:02:32,918 INFO sqlalchemy.engine.base.Engine {'table_name': 'sctg'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'sctg'}

2015-12-24 20:02:32,949 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

INFO:sqlalchemy.engine.base.Engine:
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2015-12-24 20:02:32,950 INFO sqlalchemy.engine.base.Engine {'table_oid': 16407}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16407}

2015-12-24 20:02:32,972 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2015-12-24 20:02:32,973 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:32,999 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

2015-12-24 20:02:33,000 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,026 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

INFO:sqlalchemy.engine.base.Engine:
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2015-12-24 20:02:33,027 INFO sqlalchemy.engine.base.Engine {'table_oid': 16407}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16407}

2015-12-24 20:02:33,053 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2015-12-24 20:02:33,054 INFO sqlalchemy.engine.base.Engine {'table_oid': 16407}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16407}

2015-12-24 20:02:33,076 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2015-12-24 20:02:33,077 INFO sqlalchemy.engine.base.Engine {'table': 16407}

INFO:sqlalchemy.engine.base.Engine:{'table': 16407}

2015-12-24 20:02:33,101 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

INFO:sqlalchemy.engine.base.Engine:
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2015-12-24 20:02:33,103 INFO sqlalchemy.engine.base.Engine {'table_oid': 16407}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16407}

2015-12-24 20:02:33,126 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

INFO:sqlalchemy.engine.base.Engine:
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2015-12-24 20:02:33,127 INFO sqlalchemy.engine.base.Engine {'table_oid': 16407}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16407}

2015-12-24 20:02:33,166 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

INFO:sqlalchemy.engine.base.Engine:
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2015-12-24 20:02:33,168 INFO sqlalchemy.engine.base.Engine {'table_name': 'cfs_areas'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'cfs_areas'}

2015-12-24 20:02:33,189 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

INFO:sqlalchemy.engine.base.Engine:
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2015-12-24 20:02:33,190 INFO sqlalchemy.engine.base.Engine {'table_oid': 16413}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16413}

2015-12-24 20:02:33,218 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2015-12-24 20:02:33,219 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,242 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

2015-12-24 20:02:33,243 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,267 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

INFO:sqlalchemy.engine.base.Engine:
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2015-12-24 20:02:33,268 INFO sqlalchemy.engine.base.Engine {'table_oid': 16413}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16413}

2015-12-24 20:02:33,290 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2015-12-24 20:02:33,291 INFO sqlalchemy.engine.base.Engine {'table_oid': 16413}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16413}

2015-12-24 20:02:33,318 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2015-12-24 20:02:33,319 INFO sqlalchemy.engine.base.Engine {'table': 16413}

INFO:sqlalchemy.engine.base.Engine:{'table': 16413}

2015-12-24 20:02:33,344 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

INFO:sqlalchemy.engine.base.Engine:
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2015-12-24 20:02:33,345 INFO sqlalchemy.engine.base.Engine {'table_oid': 16413}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16413}

2015-12-24 20:02:33,372 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

INFO:sqlalchemy.engine.base.Engine:
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2015-12-24 20:02:33,373 INFO sqlalchemy.engine.base.Engine {'table_oid': 16413}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16413}

2015-12-24 20:02:33,398 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

INFO:sqlalchemy.engine.base.Engine:
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2015-12-24 20:02:33,399 INFO sqlalchemy.engine.base.Engine {'table_name': 'FIPS_States'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'FIPS_States'}

2015-12-24 20:02:33,425 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

INFO:sqlalchemy.engine.base.Engine:
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2015-12-24 20:02:33,426 INFO sqlalchemy.engine.base.Engine {'table_oid': 16419}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16419}

2015-12-24 20:02:33,450 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2015-12-24 20:02:33,451 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,475 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

2015-12-24 20:02:33,476 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,501 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

INFO:sqlalchemy.engine.base.Engine:
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2015-12-24 20:02:33,502 INFO sqlalchemy.engine.base.Engine {'table_oid': 16419}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16419}

2015-12-24 20:02:33,524 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2015-12-24 20:02:33,525 INFO sqlalchemy.engine.base.Engine {'table_oid': 16419}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16419}

2015-12-24 20:02:33,551 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2015-12-24 20:02:33,552 INFO sqlalchemy.engine.base.Engine {'table': 16419}

INFO:sqlalchemy.engine.base.Engine:{'table': 16419}

2015-12-24 20:02:33,576 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

INFO:sqlalchemy.engine.base.Engine:
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2015-12-24 20:02:33,577 INFO sqlalchemy.engine.base.Engine {'table_oid': 16419}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16419}

2015-12-24 20:02:33,604 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

INFO:sqlalchemy.engine.base.Engine:
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2015-12-24 20:02:33,605 INFO sqlalchemy.engine.base.Engine {'table_oid': 16419}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16419}

2015-12-24 20:02:33,630 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

INFO:sqlalchemy.engine.base.Engine:
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2015-12-24 20:02:33,631 INFO sqlalchemy.engine.base.Engine {'table_name': 'transactions'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'transactions'}

2015-12-24 20:02:33,652 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

INFO:sqlalchemy.engine.base.Engine:
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2015-12-24 20:02:33,653 INFO sqlalchemy.engine.base.Engine {'table_oid': 16426}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16426}

2015-12-24 20:02:33,681 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2015-12-24 20:02:33,682 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,706 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

INFO:sqlalchemy.engine.base.Engine:
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid

2015-12-24 20:02:33,707 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-24 20:02:33,735 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

INFO:sqlalchemy.engine.base.Engine:
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2015-12-24 20:02:33,736 INFO sqlalchemy.engine.base.Engine {'table_oid': 16426}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16426}

2015-12-24 20:02:33,763 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2015-12-24 20:02:33,765 INFO sqlalchemy.engine.base.Engine {'table_oid': 16426}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16426}

2015-12-24 20:02:33,788 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

INFO:sqlalchemy.engine.base.Engine:
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2015-12-24 20:02:33,789 INFO sqlalchemy.engine.base.Engine {'table': 16426}

INFO:sqlalchemy.engine.base.Engine:{'table': 16426}

2015-12-24 20:02:33,814 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

INFO:sqlalchemy.engine.base.Engine:
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2015-12-24 20:02:33,815 INFO sqlalchemy.engine.base.Engine {'table_oid': 16426}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16426}

2015-12-24 20:02:33,839 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

INFO:sqlalchemy.engine.base.Engine:
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2015-12-24 20:02:33,840 INFO sqlalchemy.engine.base.Engine {'table_oid': 16426}

INFO:sqlalchemy.engine.base.Engine:{'table_oid': 16426}

In [16]:
for table in meta.tables:
    print(table)

sctg
state_latlon
FIPS_States
cfs_areas
transport_mode
transactions

In [16]:
transactions = meta.tables['transactions']

state_latlon = meta.tables['state_latlon']

cfs_areas    = meta.tables['cfs_areas']
FIPS_States  = meta.tables['FIPS_States']
transport_mode = meta.tables['transport_mode']
sctg         = meta.tables['sctg']

In [18]:
s = select([sctg])
r = conn.execute(s)

2015-12-23 20:02:22,614 INFO sqlalchemy.engine.base.Engine SELECT sctg."SCTG", sctg."Description"
FROM sctg

INFO:sqlalchemy.engine.base.Engine:SELECT sctg."SCTG", sctg."Description"
FROM sctg

2015-12-23 20:02:22,616 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

In [19]:
for row in r:
    print(row[sctg.c.Description], row[sctg.c.SCTG])
r.close()

Animals and Fish (live) 1
Cereal Grains (includes seed) 2
Agricultural Products (excludes Animal Feed, Cereal Grains, and Forage Products) 3
Animal Feed, Eggs, Honey, and Other Products of Animal Origin 4
Meat, Poultry, Fish, Seafood, and Their Preparations 5
Milled Grain Products and Preparations, and Bakery Products 6
Other Prepared Foodstuffs, and Fats and Oils 7
Alcoholic Beverages and Denatured Alcohol 8
Tobacco Products 9
Monumental or Building Stone 10
Natural Sands 11
Gravel and Crushed Stone (excludes Dolomite and Slate) 12
Other Non-Metallic Minerals not elsewhere classified 13
Metallic Ores and Concentrates 14
Coal 15
Crude Petroleum 16
Gasoline, Aviation Turbine Fuel, and Ethanol (includes Kerosene, and Fuel Alcohols) 17
Fuel Oils (includes Diesel, Bunker C, and Biodiesel) 18
Other Coal and Petroleum Products, not elsewhere classified 19
Basic Chemicals 20
Pharmaceutical Products 21
Fertilizers 22
Other Chemical Products and Preparations 23
Plastics and Rubber 24
Logs and Other Wood in the Rough 25
Wood Products 26
Pulp, Newsprint, Paper, and Paperboard 27
Paper or Paperboard Articles 28
Printed Products 29
Textiles, Leather, and Articles of Textiles or Leather 30
Non-Metallic Mineral Products 31
Base Metal in Primary or Semi-Finished Forms and in Finished Basic Shapes 32
Articles of Base Metal 33
Machinery 34
Electronic and Other Electrical Equipment and Components, and Office Equipment 35
Motorized and Other Vehicles (includes parts) 36
Transportation Equipment, not elsewhere classified 37
Precision Instruments and Apparatus 38
Furniture, Mattresses and Mattress Supports, Lamps, Lighting Fittings, and Illuminated Signs 39
Miscellaneous Manufactured Products 40
Waste and Scrap (excludes of agriculture or food, see 041xx) 41
Mixed Freight 43
Missing Code 99
SCTG suppressed 0

### Joins

In [ ]:
# join fips states with avg lat lon
for row in conn.execute(select([state_latlon, FIPS_States]).where(state_latlon.c.state == FIPS_States.c.get('Alpha code'))):
    print(row)

In [ ]:
FIPS_States.columns.get('Alpha code')

### operators
SQL Alchemy converts python predicates to sql predicates. So you can describe everything in a pythonic sense.

In [20]:
print((FIPS_States.c.get('Alpha code') == 'KK').compile())
print(((FIPS_States.c.get('Alpha code') < 'CA') & ('NY' < FIPS_States.c.get('Alpha code'))).compile())

"FIPS_States"."Alpha code" = :Alpha code_1
"FIPS_States"."Alpha code" < :Alpha code_1 AND "FIPS_States"."Alpha code" > :Alpha code_2

In [21]:
transactions.columns.keys()

['SHIPMT_ID',
 'ORIG_STATE',
 'ORIG_MA',
 'ORIG_CFS_AREA',
 'DEST_STATE',
 'DEST_MA',
 'DEST_CFS_AREA',
 'NAICS',
 'QUARTER',
 'SCTG',
 'MODE',
 'SHIPMT_VALUE',
 'SHIPMT_WGHT',
 'SHIPMT_DIST_GC',
 'SHIPMT_DIST_ROUTED',
 'TEMP_CNTL_YN',
 'EXPORT_YN',
 'EXPORT_CNTRY',
 'HAZMAT',
 'WGT_FACTOR']

In [22]:
for row in conn.execute(select([transactions]).limit(10)).fetchall():
    print(row.items())

2015-12-23 20:02:37,911 INFO sqlalchemy.engine.base.Engine SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR"
FROM transactions
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR"
FROM transactions
 LIMIT %(param_1)s

2015-12-23 20:02:37,913 INFO sqlalchemy.engine.base.Engine {'param_1': 10}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 10}

[('SHIPMT_ID', 2992662), ('ORIG_STATE', 39), ('ORIG_MA', 198), ('ORIG_CFS_AREA', '39-198'), ('DEST_STATE', 24), ('DEST_MA', 12580), ('DEST_CFS_AREA', '24-12580'), ('NAICS', 335), ('QUARTER', 3), ('SCTG', '33'), ('MODE', 14), ('SHIPMT_VALUE', 147), ('SHIPMT_WGHT', 3), ('SHIPMT_DIST_GC', 339), ('SHIPMT_DIST_ROUTED', 412), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 432.9)]
[('SHIPMT_ID', 2992663), ('ORIG_STATE', 48), ('ORIG_MA', 41700), ('ORIG_CFS_AREA', '48-41700'), ('DEST_STATE', 36), ('DEST_MA', 408), ('DEST_CFS_AREA', '36-408'), ('NAICS', 321), ('QUARTER', 4), ('SCTG', '26'), ('MODE', 4), ('SHIPMT_VALUE', 6737), ('SHIPMT_WGHT', 2793), ('SHIPMT_DIST_GC', 1570), ('SHIPMT_DIST_ROUTED', 1821), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 55.6)]
[('SHIPMT_ID', 2992664), ('ORIG_STATE', 46), ('ORIG_MA', 99999), ('ORIG_CFS_AREA', '46-99999'), ('DEST_STATE', 46), ('DEST_MA', 99999), ('DEST_CFS_AREA', '46-99999'), ('NAICS', 5111), ('QUARTER', 3), ('SCTG', '29'), ('MODE', 5), ('SHIPMT_VALUE', 16), ('SHIPMT_WGHT', 5), ('SHIPMT_DIST_GC', 14), ('SHIPMT_DIST_ROUTED', 14), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 193.1)]
[('SHIPMT_ID', 2992665), ('ORIG_STATE', 51), ('ORIG_MA', 545), ('ORIG_CFS_AREA', '51-545'), ('DEST_STATE', 56), ('DEST_MA', 99999), ('DEST_CFS_AREA', '56-99999'), ('NAICS', 4243), ('QUARTER', 1), ('SCTG', '40'), ('MODE', 14), ('SHIPMT_VALUE', 64), ('SHIPMT_WGHT', 1), ('SHIPMT_DIST_GC', 1757), ('SHIPMT_DIST_ROUTED', 2063), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 52.2)]
[('SHIPMT_ID', 2992666), ('ORIG_STATE', 24), ('ORIG_MA', 12580), ('ORIG_CFS_AREA', '24-12580'), ('DEST_STATE', 36), ('DEST_MA', 408), ('DEST_CFS_AREA', '36-408'), ('NAICS', 336), ('QUARTER', 2), ('SCTG', '37'), ('MODE', 4), ('SHIPMT_VALUE', 763), ('SHIPMT_WGHT', 3), ('SHIPMT_DIST_GC', 182), ('SHIPMT_DIST_ROUTED', 222), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 189.1)]
[('SHIPMT_ID', 2992667), ('ORIG_STATE', 36), ('ORIG_MA', 160), ('ORIG_CFS_AREA', '36-160'), ('DEST_STATE', 34), ('DEST_MA', 408), ('DEST_CFS_AREA', '34-408'), ('NAICS', 4238), ('QUARTER', 4), ('SCTG', '24'), ('MODE', 4), ('SHIPMT_VALUE', 30), ('SHIPMT_WGHT', 20), ('SHIPMT_DIST_GC', 274), ('SHIPMT_DIST_ROUTED', 381), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 141.9)]
[('SHIPMT_ID', 2992668), ('ORIG_STATE', 6), ('ORIG_MA', 348), ('ORIG_CFS_AREA', '06-348'), ('DEST_STATE', 17), ('DEST_MA', 99999), ('DEST_CFS_AREA', '17-99999'), ('NAICS', 4232), ('QUARTER', 3), ('SCTG', '40'), ('MODE', 14), ('SHIPMT_VALUE', 56), ('SHIPMT_WGHT', 9), ('SHIPMT_DIST_GC', 1613), ('SHIPMT_DIST_ROUTED', 1896), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 712.7)]
[('SHIPMT_ID', 2992669), ('ORIG_STATE', 48), ('ORIG_MA', 288), ('ORIG_CFS_AREA', '48-288'), ('DEST_STATE', 22), ('DEST_MA', 99999), ('DEST_CFS_AREA', '22-99999'), ('NAICS', 333), ('QUARTER', 4), ('SCTG', '34'), ('MODE', 5), ('SHIPMT_VALUE', 889), ('SHIPMT_WGHT', 5), ('SHIPMT_DIST_GC', 264), ('SHIPMT_DIST_ROUTED', 302), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 53.6)]
[('SHIPMT_ID', 2992670), ('ORIG_STATE', 20), ('ORIG_MA', 556), ('ORIG_CFS_AREA', '20-556'), ('DEST_STATE', 48), ('DEST_MA', 206), ('DEST_CFS_AREA', '48-206'), ('NAICS', 336), ('QUARTER', 4), ('SCTG', '37'), ('MODE', 14), ('SHIPMT_VALUE', 2444), ('SHIPMT_WGHT', 13), ('SHIPMT_DIST_GC', 368), ('SHIPMT_DIST_ROUTED', 417), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 293.7)]
[('SHIPMT_ID', 2992671), ('ORIG_STATE', 17), ('ORIG_MA', 99999), ('ORIG_CFS_AREA', '17-99999'), ('DEST_STATE', 19), ('DEST_MA', 99999), ('DEST_CFS_AREA', '19-99999'), ('NAICS', 4239), ('QUARTER', 4), ('SCTG', '41'), ('MODE', 4), ('SHIPMT_VALUE', 7493), ('SHIPMT_WGHT', 44771), ('SHIPMT_DIST_GC', 73), ('SHIPMT_DIST_ROUTED', 81), ('TEMP_CNTL_YN', 'N'), ('EXPORT_YN', 'N'), ('EXPORT_CNTRY', 'N'), ('HAZMAT', 'N'), ('WGT_FACTOR', 264.7)]

In [17]:
# to get a list of dicts per row
get_row = lambda row: (dict(row.items()))
get_rows = lambda row_list: map(get_row, row_list)

list_of_dicts = [dict(row.items()) for row in conn.execute(select([transactions]).limit(10)).fetchall()]

2015-12-24 20:02:47,239 INFO sqlalchemy.engine.base.Engine SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR"
FROM transactions
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR"
FROM transactions
 LIMIT %(param_1)s

2015-12-24 20:02:47,241 INFO sqlalchemy.engine.base.Engine {'param_1': 10}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 10}

### Conjunctions
Conjunctions can be used to perform and, or, not operations in sql.

In [24]:
# get all states that lie above the 35N, and less than -104 longitude

# first join the fips and state_latlons
j = FIPS_States.join(
    state_latlon, 
    onclause= FIPS_States.c.get("Alpha code") == state_latlon.c.state)

# now select from this join
s = (select([FIPS_States, state_latlon])
     .where(
        and_(
            state_latlon.c.latitude > 36.2,
            state_latlon.c.longitude < -104
        )
    ).select_from(j)
)

In [25]:
conn.execute(s).fetchall()

2015-12-23 20:02:43,319 INFO sqlalchemy.engine.base.Engine SELECT "FIPS_States"."Name", "FIPS_States"."Alpha code", "FIPS_States"."Numeric code", "FIPS_States"."Status", state_latlon.state, state_latlon.latitude, state_latlon.longitude
FROM "FIPS_States" JOIN state_latlon ON "FIPS_States"."Alpha code" = state_latlon.state
WHERE state_latlon.latitude > %(latitude_1)s AND state_latlon.longitude < %(longitude_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT "FIPS_States"."Name", "FIPS_States"."Alpha code", "FIPS_States"."Numeric code", "FIPS_States"."Status", state_latlon.state, state_latlon.latitude, state_latlon.longitude
FROM "FIPS_States" JOIN state_latlon ON "FIPS_States"."Alpha code" = state_latlon.state
WHERE state_latlon.latitude > %(latitude_1)s AND state_latlon.longitude < %(longitude_1)s

2015-12-23 20:02:43,320 INFO sqlalchemy.engine.base.Engine {'longitude_1': -104, 'latitude_1': 36.2}

INFO:sqlalchemy.engine.base.Engine:{'longitude_1': -104, 'latitude_1': 36.2}

[('Alaska', 'AK', 2, 'State;\xa0boroughs', 'AK', 61.385, -152.2683),
 ('Colorado', 'CO', 8, 'State;\xa0counties', 'CO', 39.0646, -105.3272),
 ('Idaho', 'ID', 16, 'State;\xa0counties', 'ID', 44.2394, -114.5103),
 ('Montana', 'MT', 30, 'State;\xa0counties', 'MT', 46.9048, -110.3261),
 ('Nevada', 'NV', 32, 'State;\xa0counties', 'NV', 38.4199, -117.1219),
 ('Oregon', 'OR', 41, 'State;\xa0counties', 'OR', 44.5672, -122.1269),
 ('Utah', 'UT', 49, 'State;\xa0counties', 'UT', 40.1135, -111.8535),
 ('Washington', 'WA', 53, 'State;\xa0counties', 'WA', 47.3917, -121.5708),
 ('Wyoming', 'WY', 56, 'State;\xa0counties', 'WY', 42.7475, -107.2085)]

In [26]:
# now get those along with all the states in the bottom right corner of the US
# delinieated by below 35N and right of 88W
s = (select([FIPS_States, state_latlon])
     .where(or_(
        and_(
            state_latlon.c.latitude > 36.2,
            state_latlon.c.longitude < -104
        ),
        and_(
            state_latlon.c.latitude < 35,
            state_latlon.c.longitude > -88)
        )
    ).select_from(j)
)

In [27]:
pprint(str(s))

'SELECT "FIPS_States"."Name", "FIPS_States"."Alpha code", '
'"FIPS_States"."Numeric code", "FIPS_States"."Status", state_latlon.state, '
'state_latlon.latitude, state_latlon.longitude \n'
'FROM "FIPS_States" JOIN state_latlon ON "FIPS_States"."Alpha code" = '
'state_latlon.state \n'
'WHERE state_latlon.latitude > :latitude_1 AND state_latlon.longitude < '
':longitude_1 OR state_latlon.latitude < :latitude_2 AND '
'state_latlon.longitude > :longitude_2'

In [28]:
pprint(str(select([text('sub."Alpha code"')]).select_from(s.alias('sub'))))

'SELECT sub."Alpha code" \n'
'FROM (SELECT "FIPS_States"."Name" AS "Name", "FIPS_States"."Alpha code" AS '
'"Alpha code", "FIPS_States"."Numeric code" AS "Numeric code", '
'"FIPS_States"."Status" AS "Status", state_latlon.state AS state, '
'state_latlon.latitude AS latitude, state_latlon.longitude AS longitude \n'
'FROM "FIPS_States" JOIN state_latlon ON "FIPS_States"."Alpha code" = '
'state_latlon.state \n'
'WHERE state_latlon.latitude > :latitude_1 AND state_latlon.longitude < '
':longitude_1 OR state_latlon.latitude < :latitude_2 AND '
'state_latlon.longitude > :longitude_2) AS sub'

In [29]:
from sqlalchemy import desc
from sqlalchemy.sql import literal_column

In [30]:
# using text to select subqueries
# instead of text, we use literal_column so that we can use the label method
conn.execute(select([literal_column('sub."Alpha code"').label("alpha code")]).select_from(s.alias('sub'))
            .order_by(desc('alpha code'))).fetchall()

2015-12-23 20:03:39,064 INFO sqlalchemy.engine.base.Engine SELECT sub."Alpha code" AS "alpha code"
FROM (SELECT "FIPS_States"."Name" AS "Name", "FIPS_States"."Alpha code" AS "Alpha code", "FIPS_States"."Numeric code" AS "Numeric code", "FIPS_States"."Status" AS "Status", state_latlon.state AS state, state_latlon.latitude AS latitude, state_latlon.longitude AS longitude
FROM "FIPS_States" JOIN state_latlon ON "FIPS_States"."Alpha code" = state_latlon.state
WHERE state_latlon.latitude > %(latitude_1)s AND state_latlon.longitude < %(longitude_1)s OR state_latlon.latitude < %(latitude_2)s AND state_latlon.longitude > %(longitude_2)s) AS sub ORDER BY "alpha code" DESC

INFO:sqlalchemy.engine.base.Engine:SELECT sub."Alpha code" AS "alpha code"
FROM (SELECT "FIPS_States"."Name" AS "Name", "FIPS_States"."Alpha code" AS "Alpha code", "FIPS_States"."Numeric code" AS "Numeric code", "FIPS_States"."Status" AS "Status", state_latlon.state AS state, state_latlon.latitude AS latitude, state_latlon.longitude AS longitude
FROM "FIPS_States" JOIN state_latlon ON "FIPS_States"."Alpha code" = state_latlon.state
WHERE state_latlon.latitude > %(latitude_1)s AND state_latlon.longitude < %(longitude_1)s OR state_latlon.latitude < %(latitude_2)s AND state_latlon.longitude > %(longitude_2)s) AS sub ORDER BY "alpha code" DESC

2015-12-23 20:03:39,065 INFO sqlalchemy.engine.base.Engine {'longitude_1': -104, 'latitude_1': 36.2, 'longitude_2': -88, 'latitude_2': 35}

INFO:sqlalchemy.engine.base.Engine:{'longitude_1': -104, 'latitude_1': 36.2, 'longitude_2': -88, 'latitude_2': 35}

[('WY',),
 ('WA',),
 ('VI',),
 ('UT',),
 ('SC',),
 ('PR',),
 ('OR',),
 ('NV',),
 ('MT',),
 ('MP',),
 ('ID',),
 ('GA',),
 ('FL',),
 ('CO',),
 ('AL',),
 ('AK',)]

#### Binding parameters

In [31]:
from sqlalchemy.sql import bindparam, func

In [32]:
get_results = lambda s, **kwargs: conn.execute(s, kwargs).fetchall()

In [33]:
get_results(
    select([FIPS_States])
        .where(or_(
              FIPS_States.c["Alpha code"] == bindparam('from_'),
              FIPS_States.c["Alpha code"] == bindparam('to_')
            )
        ),
    from_ = "CA",
    to_   = "TX"
)

2015-12-23 20:03:47,317 INFO sqlalchemy.engine.base.Engine SELECT "FIPS_States"."Name", "FIPS_States"."Alpha code", "FIPS_States"."Numeric code", "FIPS_States"."Status"
FROM "FIPS_States"
WHERE "FIPS_States"."Alpha code" = %(from_)s OR "FIPS_States"."Alpha code" = %(to_)s

INFO:sqlalchemy.engine.base.Engine:SELECT "FIPS_States"."Name", "FIPS_States"."Alpha code", "FIPS_States"."Numeric code", "FIPS_States"."Status"
FROM "FIPS_States"
WHERE "FIPS_States"."Alpha code" = %(from_)s OR "FIPS_States"."Alpha code" = %(to_)s

2015-12-23 20:03:47,318 INFO sqlalchemy.engine.base.Engine {'from_': 'CA', 'to_': 'TX'}

INFO:sqlalchemy.engine.base.Engine:{'from_': 'CA', 'to_': 'TX'}

[('California', 'CA', 6, 'State;\xa0counties'),
 ('Texas', 'TX', 48, 'State;\xa0counties')]

#### Functions

Functions are created using the func keyword.  These are translated to sql function queries.

func.myFunc(transactions.c.SHIPMT_WEIGHT) translates to 

    myFunc(transactions."SHIPMT_WEIGHT")

In [34]:
print(func.myFunc([transactions.c.SHIPMT_VALUE]).compile().params)

{'myFunc_1': [Column('SHIPMT_VALUE', BIGINT(), table=<transactions>)]}

In [35]:
conn.execute(select([func.max(transactions.c.SHIPMT_VALUE).label("Max Val")])).scalar()

2015-12-23 20:04:02,310 INFO sqlalchemy.engine.base.Engine SELECT max(transactions."SHIPMT_VALUE") AS "Max Val"
FROM transactions

INFO:sqlalchemy.engine.base.Engine:SELECT max(transactions."SHIPMT_VALUE") AS "Max Val"
FROM transactions

2015-12-23 20:04:02,311 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

521277800

#### Window functions
Chain over with functions

In [36]:
list(get_rows(get_results(select([transactions,
                                 func.sum(transactions.c.SHIPMT_VALUE).over(
                                    order_by=transactions.c.SHIPMT_ID)
                                  .label("SUM")
                                 ]).limit(10))))

2015-12-23 20:04:14,370 INFO sqlalchemy.engine.base.Engine SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR", sum(transactions."SHIPMT_VALUE") OVER (ORDER BY transactions."SHIPMT_ID") AS "SUM"
FROM transactions
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR", sum(transactions."SHIPMT_VALUE") OVER (ORDER BY transactions."SHIPMT_ID") AS "SUM"
FROM transactions
 LIMIT %(param_1)s

2015-12-23 20:04:14,371 INFO sqlalchemy.engine.base.Engine {'param_1': 10}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 10}

[{'DEST_CFS_AREA': '25-148',
  'DEST_MA': 148,
  'DEST_STATE': 25,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 333,
  'ORIG_CFS_AREA': '25-148',
  'ORIG_MA': 148,
  'ORIG_STATE': 25,
  'QUARTER': 2,
  'SCTG': '35',
  'SHIPMT_DIST_GC': 14,
  'SHIPMT_DIST_ROUTED': 17,
  'SHIPMT_ID': 1,
  'SHIPMT_VALUE': 2178,
  'SHIPMT_WGHT': 11,
  'SUM': Decimal('2178'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 208.5},
 {'DEST_CFS_AREA': '06-41740',
  'DEST_MA': 41740,
  'DEST_STATE': 6,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 311,
  'ORIG_CFS_AREA': '42-428',
  'ORIG_MA': 428,
  'ORIG_STATE': 42,
  'QUARTER': 3,
  'SCTG': '35',
  'SHIPMT_DIST_GC': 2344,
  'SHIPMT_DIST_ROUTED': 2734,
  'SHIPMT_ID': 2,
  'SHIPMT_VALUE': 344,
  'SHIPMT_WGHT': 11,
  'SUM': Decimal('2522'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 193.3},
 {'DEST_CFS_AREA': '47-314',
  'DEST_MA': 314,
  'DEST_STATE': 47,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 322,
  'ORIG_CFS_AREA': '26-220',
  'ORIG_MA': 220,
  'ORIG_STATE': 26,
  'QUARTER': 2,
  'SCTG': '27',
  'SHIPMT_DIST_GC': 470,
  'SHIPMT_DIST_ROUTED': 579,
  'SHIPMT_ID': 3,
  'SHIPMT_VALUE': 4197,
  'SHIPMT_WGHT': 5134,
  'SUM': Decimal('6719'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 51.2},
 {'DEST_CFS_AREA': '20-556',
  'DEST_MA': 556,
  'DEST_STATE': 20,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 323,
  'ORIG_CFS_AREA': '20-556',
  'ORIG_MA': 556,
  'ORIG_STATE': 20,
  'QUARTER': 1,
  'SCTG': '29',
  'SHIPMT_DIST_GC': 3,
  'SHIPMT_DIST_ROUTED': 3,
  'SHIPMT_ID': 4,
  'SHIPMT_VALUE': 116,
  'SHIPMT_WGHT': 6,
  'SUM': Decimal('6835'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 238.7},
 {'DEST_CFS_AREA': '12-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 12,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 4235,
  'ORIG_CFS_AREA': '12-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 12,
  'QUARTER': 3,
  'SCTG': '33',
  'SHIPMT_DIST_GC': 124,
  'SHIPMT_DIST_ROUTED': 201,
  'SHIPMT_ID': 5,
  'SHIPMT_VALUE': 388,
  'SHIPMT_WGHT': 527,
  'SUM': Decimal('7223'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 398.1},
 {'DEST_CFS_AREA': '30-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 30,
  'EXPORT_CNTRY': 'C',
  'EXPORT_YN': 'Y',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 337,
  'ORIG_CFS_AREA': '24-47900',
  'ORIG_MA': 47900,
  'ORIG_STATE': 24,
  'QUARTER': 2,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 1942,
  'SHIPMT_DIST_ROUTED': 2265,
  'SHIPMT_ID': 6,
  'SHIPMT_VALUE': 3716,
  'SHIPMT_WGHT': 1132,
  'SUM': Decimal('10939'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 21.9},
 {'DEST_CFS_AREA': '19-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 19,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 337,
  'ORIG_CFS_AREA': '19-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 19,
  'QUARTER': 3,
  'SCTG': '26',
  'SHIPMT_DIST_GC': 16,
  'SHIPMT_DIST_ROUTED': 22,
  'SHIPMT_ID': 7,
  'SHIPMT_VALUE': 43738,
  'SHIPMT_WGHT': 13501,
  'SUM': Decimal('54677'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 310.5},
 {'DEST_CFS_AREA': '06-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 6,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4239,
  'ORIG_CFS_AREA': '06-41740',
  'ORIG_MA': 41740,
  'ORIG_STATE': 6,
  'QUARTER': 1,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 272,
  'SHIPMT_DIST_ROUTED': 306,
  'SHIPMT_ID': 8,
  'SHIPMT_VALUE': 77,
  'SHIPMT_WGHT': 4,
  'SUM': Decimal('54754'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 138.5},
 {'DEST_CFS_AREA': '19-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 19,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 327,
  'ORIG_CFS_AREA': '19-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 19,
  'QUARTER': 3,
  'SCTG': '31',
  'SHIPMT_DIST_GC': 10,
  'SHIPMT_DIST_ROUTED': 15,
  'SHIPMT_ID': 9,
  'SHIPMT_VALUE': 338,
  'SHIPMT_WGHT': 12826,
  'SUM': Decimal('55092'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 2695.9},
 {'DEST_CFS_AREA': '13-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 13,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 4237,
  'ORIG_CFS_AREA': '13-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 13,
  'QUARTER': 2,
  'SCTG': '34',
  'SHIPMT_DIST_GC': 21,
  'SHIPMT_DIST_ROUTED': 28,
  'SHIPMT_ID': 10,
  'SHIPMT_VALUE': 145,
  'SHIPMT_WGHT': 22,
  'SUM': Decimal('55237'),
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 489.1}]

In [37]:
from sqlalchemy.sql import union

In [38]:
u = union(
    sctg.select().where(sctg.c.SCTG < 3),
    sctg.select().where(sctg.c.SCTG > 10)
    )

conn.execute(u).fetchall()

2015-12-23 20:04:39,220 INFO sqlalchemy.engine.base.Engine SELECT sctg."SCTG", sctg."Description"
FROM sctg
WHERE sctg."SCTG" < %(SCTG_1)s UNION SELECT sctg."SCTG", sctg."Description"
FROM sctg
WHERE sctg."SCTG" > %(SCTG_2)s

INFO:sqlalchemy.engine.base.Engine:SELECT sctg."SCTG", sctg."Description"
FROM sctg
WHERE sctg."SCTG" < %(SCTG_1)s UNION SELECT sctg."SCTG", sctg."Description"
FROM sctg
WHERE sctg."SCTG" > %(SCTG_2)s

2015-12-23 20:04:39,222 INFO sqlalchemy.engine.base.Engine {'SCTG_2': 10, 'SCTG_1': 3}

INFO:sqlalchemy.engine.base.Engine:{'SCTG_2': 10, 'SCTG_1': 3}

[(26, 'Wood Products'),
 (28, 'Paper or Paperboard Articles'),
 (35, 'Electronic and Other Electrical Equipment and Components, and Office Equipment'),
 (23, 'Other Chemical Products and Preparations'),
 (19, 'Other Coal and Petroleum Products, not elsewhere classified'),
 (32, 'Base Metal in Primary or Semi-Finished Forms and in Finished Basic Shapes'),
 (11, 'Natural Sands'),
 (38, 'Precision Instruments and Apparatus'),
 (41, 'Waste and Scrap (excludes of agriculture or food, see 041xx)'),
 (34, 'Machinery'),
 (14, 'Metallic Ores and Concentrates'),
 (18, 'Fuel Oils (includes Diesel, Bunker C, and Biodiesel)'),
 (13, 'Other Non-Metallic Minerals not elsewhere classified'),
 (39, 'Furniture, Mattresses and Mattress Supports, Lamps, Lighting Fittings, and Illuminated Signs'),
 (2, 'Cereal Grains (includes seed)'),
 (33, 'Articles of Base Metal'),
 (40, 'Miscellaneous Manufactured Products'),
 (24, 'Plastics and Rubber'),
 (12, 'Gravel and Crushed Stone (excludes Dolomite and Slate)'),
 (36, 'Motorized and Other Vehicles (includes parts)'),
 (99, 'Missing Code'),
 (16, 'Crude Petroleum'),
 (17, 'Gasoline, Aviation Turbine Fuel, and Ethanol (includes Kerosene, and Fuel Alcohols)'),
 (15, 'Coal'),
 (20, 'Basic Chemicals'),
 (31, 'Non-Metallic Mineral Products'),
 (43, 'Mixed Freight'),
 (22, 'Fertilizers'),
 (25, 'Logs and Other Wood in the Rough'),
 (29, 'Printed Products'),
 (30, 'Textiles, Leather, and Articles of Textiles or Leather'),
 (27, 'Pulp, Newsprint, Paper, and Paperboard'),
 (21, 'Pharmaceutical Products'),
 (37, 'Transportation Equipment, not elsewhere classified'),
 (0, 'SCTG suppressed'),
 (1, 'Animals and Fish (live)')]

In [39]:
query_s = (select([func.count(transactions.c.SHIPMT_ID)])
           .where(transactions.c.SCTG).as_scalar())

In [40]:
conn.execute(select([query_s]))

2015-12-23 20:04:39,269 INFO sqlalchemy.engine.base.Engine SELECT (SELECT count(transactions."SHIPMT_ID") AS count_1
FROM transactions
WHERE transactions."SCTG") AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT (SELECT count(transactions."SHIPMT_ID") AS count_1
FROM transactions
WHERE transactions."SCTG") AS anon_1

2015-12-23 20:04:39,270 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-12-23 20:04:39,293 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

ProgrammingError: (psycopg2.ProgrammingError) argument of WHERE must be type boolean, not type text
LINE 3: WHERE transactions."SCTG") AS anon_1
              ^
 [SQL: 'SELECT (SELECT count(transactions."SHIPMT_ID") AS count_1 \nFROM transactions \nWHERE transactions."SCTG") AS anon_1']

In [ ]:
conn.execute(u).fetchone()

##### Correlated Subqueries

When an enclosed query depends on a table from the enclosing context, it does not need to explicitly provide a FROM clause

In [41]:
stmt = (select([transactions, FIPS_States.c['Alpha code']])
        .select_from(
        transactions.join(FIPS_States, onclause=transactions.c.ORIG_STATE == FIPS_States.c["Numeric code"]))
        .where(FIPS_States.c['Alpha code'].like('C%'))
        )

In [42]:
enclosing_stmt = select([transactions.c.SCTG]).select_from(stmt).limit(10)

In [43]:
conn.execute(enclosing_stmt)

2015-12-23 20:04:59,235 INFO sqlalchemy.engine.base.Engine SELECT transactions."SCTG"
FROM transactions, (SELECT transactions."SHIPMT_ID" AS "SHIPMT_ID", transactions."ORIG_STATE" AS "ORIG_STATE", transactions."ORIG_MA" AS "ORIG_MA", transactions."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", transactions."DEST_STATE" AS "DEST_STATE", transactions."DEST_MA" AS "DEST_MA", transactions."DEST_CFS_AREA" AS "DEST_CFS_AREA", transactions."NAICS" AS "NAICS", transactions."QUARTER" AS "QUARTER", transactions."SCTG" AS "SCTG", transactions."MODE" AS "MODE", transactions."SHIPMT_VALUE" AS "SHIPMT_VALUE", transactions."SHIPMT_WGHT" AS "SHIPMT_WGHT", transactions."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", transactions."EXPORT_YN" AS "EXPORT_YN", transactions."EXPORT_CNTRY" AS "EXPORT_CNTRY", transactions."HAZMAT" AS "HAZMAT", transactions."WGT_FACTOR" AS "WGT_FACTOR", "FIPS_States"."Alpha code" AS "Alpha code"
FROM transactions JOIN "FIPS_States" ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code"
WHERE "FIPS_States"."Alpha code" LIKE %(Alpha code_1)s)
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT transactions."SCTG"
FROM transactions, (SELECT transactions."SHIPMT_ID" AS "SHIPMT_ID", transactions."ORIG_STATE" AS "ORIG_STATE", transactions."ORIG_MA" AS "ORIG_MA", transactions."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", transactions."DEST_STATE" AS "DEST_STATE", transactions."DEST_MA" AS "DEST_MA", transactions."DEST_CFS_AREA" AS "DEST_CFS_AREA", transactions."NAICS" AS "NAICS", transactions."QUARTER" AS "QUARTER", transactions."SCTG" AS "SCTG", transactions."MODE" AS "MODE", transactions."SHIPMT_VALUE" AS "SHIPMT_VALUE", transactions."SHIPMT_WGHT" AS "SHIPMT_WGHT", transactions."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", transactions."EXPORT_YN" AS "EXPORT_YN", transactions."EXPORT_CNTRY" AS "EXPORT_CNTRY", transactions."HAZMAT" AS "HAZMAT", transactions."WGT_FACTOR" AS "WGT_FACTOR", "FIPS_States"."Alpha code" AS "Alpha code"
FROM transactions JOIN "FIPS_States" ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code"
WHERE "FIPS_States"."Alpha code" LIKE %(Alpha code_1)s)
 LIMIT %(param_1)s

2015-12-23 20:04:59,237 INFO sqlalchemy.engine.base.Engine {'param_1': 10, 'Alpha code_1': 'C%'}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 10, 'Alpha code_1': 'C%'}

2015-12-23 20:04:59,290 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

ProgrammingError: (psycopg2.ProgrammingError) subquery in FROM must have an alias
LINE 2: FROM transactions, (SELECT transactions."SHIPMT_ID" AS "SHIP...
                           ^
HINT:  For example, FROM (SELECT ...) [AS] foo.
 [SQL: 'SELECT transactions."SCTG" \nFROM transactions, (SELECT transactions."SHIPMT_ID" AS "SHIPMT_ID", transactions."ORIG_STATE" AS "ORIG_STATE", transactions."ORIG_MA" AS "ORIG_MA", transactions."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", transactions."DEST_STATE" AS "DEST_STATE", transactions."DEST_MA" AS "DEST_MA", transactions."DEST_CFS_AREA" AS "DEST_CFS_AREA", transactions."NAICS" AS "NAICS", transactions."QUARTER" AS "QUARTER", transactions."SCTG" AS "SCTG", transactions."MODE" AS "MODE", transactions."SHIPMT_VALUE" AS "SHIPMT_VALUE", transactions."SHIPMT_WGHT" AS "SHIPMT_WGHT", transactions."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", transactions."EXPORT_YN" AS "EXPORT_YN", transactions."EXPORT_CNTRY" AS "EXPORT_CNTRY", transactions."HAZMAT" AS "HAZMAT", transactions."WGT_FACTOR" AS "WGT_FACTOR", "FIPS_States"."Alpha code" AS "Alpha code" \nFROM transactions JOIN "FIPS_States" ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code" \nWHERE "FIPS_States"."Alpha code" LIKE %(Alpha code_1)s) \n LIMIT %(param_1)s'] [parameters: {'param_1': 10, 'Alpha code_1': 'C%'}]

##### Controlling correlations

You can use the correlate method to control the behavior of correlations

In [ ]:
import json

Now you can export to a json file for a temporary data file

In [ ]:
#with open('app/testdata.json', 'w') as f:
#    f.write((json.dumps(list_of_dicts, indent=2, separators=(',', ':'))))

In [ ]:
c = case([(transactions.c['ORIG_STATE']==transactions.c['DEST_STATE'], True)], else_=False)

In [ ]:
s = select([transactions]).where(c).limit(10);

In [ ]:
for i in get_rows(conn.execute(s).fetchall()):
    print(i)

Data structure

{orig_state_code:
 dest_state_code:
 orig_coords:
 dest_coords:
}

In [ ]:
joined_states = text(
    """
    SELECT 
        fips."Name" as state_name,
        fips."Numeric code" as numeric_code,
        state_coords.latitude as lat,
        state_coords.longitude as long
    FROM "FIPS_States" fips
    JOIN "state_latlon" state_coords
    ON state_coords.state = fips."Alpha code"
    """)

list(get_rows(conn.execute(joined_states).fetchall()))

In [ ]:
states_and_coords = select([state_latlon, FIPS_States]).where(state_latlon.c.state == FIPS_States.c.get('Alpha code'))

In [ ]:
conn.execute(states_and_coords)

In [ ]:
orig_state = 'CA'
dest_state = 'TX'

In [ ]:
states = select([FIPS_States]).where(or_(
    FIPS_States.c['Alpha code']==orig_state,
    FIPS_States.c['Alpha code']==dest_state)
)

conn.execute(states).fetchall()

### I need a way to query a database like so, 

    "SELECT * 
        FROM transactions
        WHERE orig_state = 'CA' AND dest_state= 'TX'
    "

In [ ]:
d = pd.read_sql_query(con = engine, sql = select([FIPS_States]))

In [ ]:
d2 = pd.read_sql_query(con = engine, sql = select([transactions]).limit(2000))

In [ ]:
d3 = pd.merge(pd.merge(d, d2, left_on=["Numeric code"], right_on=["ORIG_STATE"]), d, 
         left_on="DEST_STATE", right_on="Numeric code")

In [ ]:
d3 = d3.rename(columns={'Name_x': 'Source_Name', 
                   'Alpha code_x': 'Source_alpha_code',
                    'Name_y': 'Dest_Name',
                    'Alpha code_y': 'Dest_alpha_code'})

Use set operators from python to get the intersection of these predicates

In [ ]:
d3[(d3['Dest_alpha_code'] == 'CA') & (d3['Source_alpha_code'] == 'TX')]

In [ ]:
gb = d3.groupby(['Dest_alpha_code', 'Source_alpha_code'])

In [ ]:
gb.get_group(('CA', 'CA')).SHIPMT_VALUE.describe().reset_index()

In [ ]:
gb.groups.keys()

### This way works, but I'm worried that there will be a lot of overhead joining tables constantly, so I will create a new table that contains the source name, and alpha code along with the destination info into a new table called transactions_joined

### You can create a new table from a previous one using sql alchemy's Insert From Select

In [ ]:
#list(get_rows(conn.execute(select([FIPS_States.c.get("Numeric code")])).fetchall()))

In [20]:
state_latlon_joined = FIPS_States.join(
    state_latlon, onclause=state_latlon.c.state == FIPS_States.c["Alpha code"])

In [49]:
orig = transactions.join(
    state_latlon_joined, 
    onclause=transactions.c.ORIG_STATE == FIPS_States.c.get("Numeric code"))


s = select([transactions, 
            FIPS_States.c.get("Alpha code").label("orig_state_alpha_code"),
            FIPS_States.c.Name.label("orig_state_name"),
            state_latlon.c.latitude.label('orig_lat'),
            state_latlon.c.longitude.label('orig_lon')
            ]).select_from(orig).limit(10)

list(get_rows(conn.execute(s).fetchall()))

2015-12-23 20:56:15,094 INFO sqlalchemy.engine.base.Engine SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR", "FIPS_States"."Alpha code" AS orig_state_alpha_code, "FIPS_States"."Name" AS orig_state_name, state_latlon.latitude AS orig_lat, state_latlon.longitude AS orig_lon
FROM transactions JOIN ("FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code"
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR", "FIPS_States"."Alpha code" AS orig_state_alpha_code, "FIPS_States"."Name" AS orig_state_name, state_latlon.latitude AS orig_lat, state_latlon.longitude AS orig_lon
FROM transactions JOIN ("FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code"
 LIMIT %(param_1)s

2015-12-23 20:56:15,096 INFO sqlalchemy.engine.base.Engine {'param_1': 10}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 10}

[{'DEST_CFS_AREA': '24-12580',
  'DEST_MA': 12580,
  'DEST_STATE': 24,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 335,
  'ORIG_CFS_AREA': '39-198',
  'ORIG_MA': 198,
  'ORIG_STATE': 39,
  'QUARTER': 3,
  'SCTG': '33',
  'SHIPMT_DIST_GC': 339,
  'SHIPMT_DIST_ROUTED': 412,
  'SHIPMT_ID': 2992662,
  'SHIPMT_VALUE': 147,
  'SHIPMT_WGHT': 3,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 432.9,
  'orig_lat': 40.3736,
  'orig_lon': -82.7755,
  'orig_state_alpha_code': 'OH',
  'orig_state_name': 'Ohio'},
 {'DEST_CFS_AREA': '36-408',
  'DEST_MA': 408,
  'DEST_STATE': 36,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 321,
  'ORIG_CFS_AREA': '48-41700',
  'ORIG_MA': 41700,
  'ORIG_STATE': 48,
  'QUARTER': 4,
  'SCTG': '26',
  'SHIPMT_DIST_GC': 1570,
  'SHIPMT_DIST_ROUTED': 1821,
  'SHIPMT_ID': 2992663,
  'SHIPMT_VALUE': 6737,
  'SHIPMT_WGHT': 2793,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 55.6,
  'orig_lat': 31.106,
  'orig_lon': -97.6475,
  'orig_state_alpha_code': 'TX',
  'orig_state_name': 'Texas'},
 {'DEST_CFS_AREA': '46-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 46,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 5111,
  'ORIG_CFS_AREA': '46-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 46,
  'QUARTER': 3,
  'SCTG': '29',
  'SHIPMT_DIST_GC': 14,
  'SHIPMT_DIST_ROUTED': 14,
  'SHIPMT_ID': 2992664,
  'SHIPMT_VALUE': 16,
  'SHIPMT_WGHT': 5,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 193.1,
  'orig_lat': 44.2853,
  'orig_lon': -99.4632,
  'orig_state_alpha_code': 'SD',
  'orig_state_name': 'South Dakota'},
 {'DEST_CFS_AREA': '56-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 56,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4243,
  'ORIG_CFS_AREA': '51-545',
  'ORIG_MA': 545,
  'ORIG_STATE': 51,
  'QUARTER': 1,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 1757,
  'SHIPMT_DIST_ROUTED': 2063,
  'SHIPMT_ID': 2992665,
  'SHIPMT_VALUE': 64,
  'SHIPMT_WGHT': 1,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 52.2,
  'orig_lat': 37.768,
  'orig_lon': -78.2057,
  'orig_state_alpha_code': 'VA',
  'orig_state_name': 'Virginia'},
 {'DEST_CFS_AREA': '36-408',
  'DEST_MA': 408,
  'DEST_STATE': 36,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 336,
  'ORIG_CFS_AREA': '24-12580',
  'ORIG_MA': 12580,
  'ORIG_STATE': 24,
  'QUARTER': 2,
  'SCTG': '37',
  'SHIPMT_DIST_GC': 182,
  'SHIPMT_DIST_ROUTED': 222,
  'SHIPMT_ID': 2992666,
  'SHIPMT_VALUE': 763,
  'SHIPMT_WGHT': 3,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 189.1,
  'orig_lat': 39.0724,
  'orig_lon': -76.7902,
  'orig_state_alpha_code': 'MD',
  'orig_state_name': 'Maryland'},
 {'DEST_CFS_AREA': '34-408',
  'DEST_MA': 408,
  'DEST_STATE': 34,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 4238,
  'ORIG_CFS_AREA': '36-160',
  'ORIG_MA': 160,
  'ORIG_STATE': 36,
  'QUARTER': 4,
  'SCTG': '24',
  'SHIPMT_DIST_GC': 274,
  'SHIPMT_DIST_ROUTED': 381,
  'SHIPMT_ID': 2992667,
  'SHIPMT_VALUE': 30,
  'SHIPMT_WGHT': 20,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 141.9,
  'orig_lat': 42.1497,
  'orig_lon': -74.9384,
  'orig_state_alpha_code': 'NY',
  'orig_state_name': 'New York'},
 {'DEST_CFS_AREA': '17-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 17,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4232,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 3,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 1613,
  'SHIPMT_DIST_ROUTED': 1896,
  'SHIPMT_ID': 2992668,
  'SHIPMT_VALUE': 56,
  'SHIPMT_WGHT': 9,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 712.7,
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_state_alpha_code': 'CA',
  'orig_state_name': 'California'},
 {'DEST_CFS_AREA': '22-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 22,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 333,
  'ORIG_CFS_AREA': '48-288',
  'ORIG_MA': 288,
  'ORIG_STATE': 48,
  'QUARTER': 4,
  'SCTG': '34',
  'SHIPMT_DIST_GC': 264,
  'SHIPMT_DIST_ROUTED': 302,
  'SHIPMT_ID': 2992669,
  'SHIPMT_VALUE': 889,
  'SHIPMT_WGHT': 5,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 53.6,
  'orig_lat': 31.106,
  'orig_lon': -97.6475,
  'orig_state_alpha_code': 'TX',
  'orig_state_name': 'Texas'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 336,
  'ORIG_CFS_AREA': '20-556',
  'ORIG_MA': 556,
  'ORIG_STATE': 20,
  'QUARTER': 4,
  'SCTG': '37',
  'SHIPMT_DIST_GC': 368,
  'SHIPMT_DIST_ROUTED': 417,
  'SHIPMT_ID': 2992670,
  'SHIPMT_VALUE': 2444,
  'SHIPMT_WGHT': 13,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 293.7,
  'orig_lat': 38.5111,
  'orig_lon': -96.8005,
  'orig_state_alpha_code': 'KS',
  'orig_state_name': 'Kansas'},
 {'DEST_CFS_AREA': '19-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 19,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 4239,
  'ORIG_CFS_AREA': '17-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 17,
  'QUARTER': 4,
  'SCTG': '41',
  'SHIPMT_DIST_GC': 73,
  'SHIPMT_DIST_ROUTED': 81,
  'SHIPMT_ID': 2992671,
  'SHIPMT_VALUE': 7493,
  'SHIPMT_WGHT': 44771,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 264.7,
  'orig_lat': 40.3363,
  'orig_lon': -89.0022,
  'orig_state_alpha_code': 'IL',
  'orig_state_name': 'Illinois'}]

In [50]:
dest = transactions.join(
    state_latlon_joined, 
    onclause=transactions.c.DEST_STATE == FIPS_States.c.get("Numeric code"))

new_table =  (select([s.alias(), 
            FIPS_States.c.get("Alpha code").label("dest_state_alpha_code"),
            FIPS_States.c.Name.label("dest_state_name"),
            state_latlon.c.latitude.label('dest_lat'),
            state_latlon.c.longitude.label('dest_lon')])
            .select_from(dest).limit(10))

In [51]:
list(get_rows(conn.execute(select([new_table.alias()])).fetchall()))

2015-12-23 20:59:06,164 INFO sqlalchemy.engine.base.Engine SELECT anon_1."SHIPMT_ID", anon_1."ORIG_STATE", anon_1."ORIG_MA", anon_1."ORIG_CFS_AREA", anon_1."DEST_STATE", anon_1."DEST_MA", anon_1."DEST_CFS_AREA", anon_1."NAICS", anon_1."QUARTER", anon_1."SCTG", anon_1."MODE", anon_1."SHIPMT_VALUE", anon_1."SHIPMT_WGHT", anon_1."SHIPMT_DIST_GC", anon_1."SHIPMT_DIST_ROUTED", anon_1."TEMP_CNTL_YN", anon_1."EXPORT_YN", anon_1."EXPORT_CNTRY", anon_1."HAZMAT", anon_1."WGT_FACTOR", anon_1.orig_state_alpha_code, anon_1.orig_state_name, anon_1.orig_lat, anon_1.orig_lon, anon_1.dest_state_alpha_code, anon_1.dest_state_name, anon_1.dest_lat, anon_1.dest_lon
FROM (SELECT anon_2."SHIPMT_ID" AS "SHIPMT_ID", anon_2."ORIG_STATE" AS "ORIG_STATE", anon_2."ORIG_MA" AS "ORIG_MA", anon_2."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", anon_2."DEST_STATE" AS "DEST_STATE", anon_2."DEST_MA" AS "DEST_MA", anon_2."DEST_CFS_AREA" AS "DEST_CFS_AREA", anon_2."NAICS" AS "NAICS", anon_2."QUARTER" AS "QUARTER", anon_2."SCTG" AS "SCTG", anon_2."MODE" AS "MODE", anon_2."SHIPMT_VALUE" AS "SHIPMT_VALUE", anon_2."SHIPMT_WGHT" AS "SHIPMT_WGHT", anon_2."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", anon_2."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", anon_2."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", anon_2."EXPORT_YN" AS "EXPORT_YN", anon_2."EXPORT_CNTRY" AS "EXPORT_CNTRY", anon_2."HAZMAT" AS "HAZMAT", anon_2."WGT_FACTOR" AS "WGT_FACTOR", anon_2.orig_state_alpha_code AS orig_state_alpha_code, anon_2.orig_state_name AS orig_state_name, anon_2.orig_lat AS orig_lat, anon_2.orig_lon AS orig_lon, "FIPS_States"."Alpha code" AS dest_state_alpha_code, "FIPS_States"."Name" AS dest_state_name, state_latlon.latitude AS dest_lat, state_latlon.longitude AS dest_lon
FROM (SELECT transactions."SHIPMT_ID" AS "SHIPMT_ID", transactions."ORIG_STATE" AS "ORIG_STATE", transactions."ORIG_MA" AS "ORIG_MA", transactions."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", transactions."DEST_STATE" AS "DEST_STATE", transactions."DEST_MA" AS "DEST_MA", transactions."DEST_CFS_AREA" AS "DEST_CFS_AREA", transactions."NAICS" AS "NAICS", transactions."QUARTER" AS "QUARTER", transactions."SCTG" AS "SCTG", transactions."MODE" AS "MODE", transactions."SHIPMT_VALUE" AS "SHIPMT_VALUE", transactions."SHIPMT_WGHT" AS "SHIPMT_WGHT", transactions."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", transactions."EXPORT_YN" AS "EXPORT_YN", transactions."EXPORT_CNTRY" AS "EXPORT_CNTRY", transactions."HAZMAT" AS "HAZMAT", transactions."WGT_FACTOR" AS "WGT_FACTOR", "FIPS_States"."Alpha code" AS orig_state_alpha_code, "FIPS_States"."Name" AS orig_state_name, state_latlon.latitude AS orig_lat, state_latlon.longitude AS orig_lon
FROM transactions JOIN ("FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code"
 LIMIT %(param_1)s) AS anon_2, transactions JOIN ("FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") ON transactions."DEST_STATE" = "FIPS_States"."Numeric code"
 LIMIT %(param_2)s) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT anon_1."SHIPMT_ID", anon_1."ORIG_STATE", anon_1."ORIG_MA", anon_1."ORIG_CFS_AREA", anon_1."DEST_STATE", anon_1."DEST_MA", anon_1."DEST_CFS_AREA", anon_1."NAICS", anon_1."QUARTER", anon_1."SCTG", anon_1."MODE", anon_1."SHIPMT_VALUE", anon_1."SHIPMT_WGHT", anon_1."SHIPMT_DIST_GC", anon_1."SHIPMT_DIST_ROUTED", anon_1."TEMP_CNTL_YN", anon_1."EXPORT_YN", anon_1."EXPORT_CNTRY", anon_1."HAZMAT", anon_1."WGT_FACTOR", anon_1.orig_state_alpha_code, anon_1.orig_state_name, anon_1.orig_lat, anon_1.orig_lon, anon_1.dest_state_alpha_code, anon_1.dest_state_name, anon_1.dest_lat, anon_1.dest_lon
FROM (SELECT anon_2."SHIPMT_ID" AS "SHIPMT_ID", anon_2."ORIG_STATE" AS "ORIG_STATE", anon_2."ORIG_MA" AS "ORIG_MA", anon_2."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", anon_2."DEST_STATE" AS "DEST_STATE", anon_2."DEST_MA" AS "DEST_MA", anon_2."DEST_CFS_AREA" AS "DEST_CFS_AREA", anon_2."NAICS" AS "NAICS", anon_2."QUARTER" AS "QUARTER", anon_2."SCTG" AS "SCTG", anon_2."MODE" AS "MODE", anon_2."SHIPMT_VALUE" AS "SHIPMT_VALUE", anon_2."SHIPMT_WGHT" AS "SHIPMT_WGHT", anon_2."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", anon_2."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", anon_2."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", anon_2."EXPORT_YN" AS "EXPORT_YN", anon_2."EXPORT_CNTRY" AS "EXPORT_CNTRY", anon_2."HAZMAT" AS "HAZMAT", anon_2."WGT_FACTOR" AS "WGT_FACTOR", anon_2.orig_state_alpha_code AS orig_state_alpha_code, anon_2.orig_state_name AS orig_state_name, anon_2.orig_lat AS orig_lat, anon_2.orig_lon AS orig_lon, "FIPS_States"."Alpha code" AS dest_state_alpha_code, "FIPS_States"."Name" AS dest_state_name, state_latlon.latitude AS dest_lat, state_latlon.longitude AS dest_lon
FROM (SELECT transactions."SHIPMT_ID" AS "SHIPMT_ID", transactions."ORIG_STATE" AS "ORIG_STATE", transactions."ORIG_MA" AS "ORIG_MA", transactions."ORIG_CFS_AREA" AS "ORIG_CFS_AREA", transactions."DEST_STATE" AS "DEST_STATE", transactions."DEST_MA" AS "DEST_MA", transactions."DEST_CFS_AREA" AS "DEST_CFS_AREA", transactions."NAICS" AS "NAICS", transactions."QUARTER" AS "QUARTER", transactions."SCTG" AS "SCTG", transactions."MODE" AS "MODE", transactions."SHIPMT_VALUE" AS "SHIPMT_VALUE", transactions."SHIPMT_WGHT" AS "SHIPMT_WGHT", transactions."SHIPMT_DIST_GC" AS "SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED" AS "SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN" AS "TEMP_CNTL_YN", transactions."EXPORT_YN" AS "EXPORT_YN", transactions."EXPORT_CNTRY" AS "EXPORT_CNTRY", transactions."HAZMAT" AS "HAZMAT", transactions."WGT_FACTOR" AS "WGT_FACTOR", "FIPS_States"."Alpha code" AS orig_state_alpha_code, "FIPS_States"."Name" AS orig_state_name, state_latlon.latitude AS orig_lat, state_latlon.longitude AS orig_lon
FROM transactions JOIN ("FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") ON transactions."ORIG_STATE" = "FIPS_States"."Numeric code"
 LIMIT %(param_1)s) AS anon_2, transactions JOIN ("FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") ON transactions."DEST_STATE" = "FIPS_States"."Numeric code"
 LIMIT %(param_2)s) AS anon_1

2015-12-23 20:59:06,166 INFO sqlalchemy.engine.base.Engine {'param_2': 10, 'param_1': 10}

INFO:sqlalchemy.engine.base.Engine:{'param_2': 10, 'param_1': 10}

[{'DEST_CFS_AREA': '24-12580',
  'DEST_MA': 12580,
  'DEST_STATE': 24,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 335,
  'ORIG_CFS_AREA': '39-198',
  'ORIG_MA': 198,
  'ORIG_STATE': 39,
  'QUARTER': 3,
  'SCTG': '33',
  'SHIPMT_DIST_GC': 339,
  'SHIPMT_DIST_ROUTED': 412,
  'SHIPMT_ID': 2992662,
  'SHIPMT_VALUE': 147,
  'SHIPMT_WGHT': 3,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 432.9,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 40.3736,
  'orig_lon': -82.7755,
  'orig_state_alpha_code': 'OH',
  'orig_state_name': 'Ohio'},
 {'DEST_CFS_AREA': '36-408',
  'DEST_MA': 408,
  'DEST_STATE': 36,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 321,
  'ORIG_CFS_AREA': '48-41700',
  'ORIG_MA': 41700,
  'ORIG_STATE': 48,
  'QUARTER': 4,
  'SCTG': '26',
  'SHIPMT_DIST_GC': 1570,
  'SHIPMT_DIST_ROUTED': 1821,
  'SHIPMT_ID': 2992663,
  'SHIPMT_VALUE': 6737,
  'SHIPMT_WGHT': 2793,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 55.6,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 31.106,
  'orig_lon': -97.6475,
  'orig_state_alpha_code': 'TX',
  'orig_state_name': 'Texas'},
 {'DEST_CFS_AREA': '46-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 46,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 5111,
  'ORIG_CFS_AREA': '46-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 46,
  'QUARTER': 3,
  'SCTG': '29',
  'SHIPMT_DIST_GC': 14,
  'SHIPMT_DIST_ROUTED': 14,
  'SHIPMT_ID': 2992664,
  'SHIPMT_VALUE': 16,
  'SHIPMT_WGHT': 5,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 193.1,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 44.2853,
  'orig_lon': -99.4632,
  'orig_state_alpha_code': 'SD',
  'orig_state_name': 'South Dakota'},
 {'DEST_CFS_AREA': '56-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 56,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4243,
  'ORIG_CFS_AREA': '51-545',
  'ORIG_MA': 545,
  'ORIG_STATE': 51,
  'QUARTER': 1,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 1757,
  'SHIPMT_DIST_ROUTED': 2063,
  'SHIPMT_ID': 2992665,
  'SHIPMT_VALUE': 64,
  'SHIPMT_WGHT': 1,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 52.2,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 37.768,
  'orig_lon': -78.2057,
  'orig_state_alpha_code': 'VA',
  'orig_state_name': 'Virginia'},
 {'DEST_CFS_AREA': '36-408',
  'DEST_MA': 408,
  'DEST_STATE': 36,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 336,
  'ORIG_CFS_AREA': '24-12580',
  'ORIG_MA': 12580,
  'ORIG_STATE': 24,
  'QUARTER': 2,
  'SCTG': '37',
  'SHIPMT_DIST_GC': 182,
  'SHIPMT_DIST_ROUTED': 222,
  'SHIPMT_ID': 2992666,
  'SHIPMT_VALUE': 763,
  'SHIPMT_WGHT': 3,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 189.1,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 39.0724,
  'orig_lon': -76.7902,
  'orig_state_alpha_code': 'MD',
  'orig_state_name': 'Maryland'},
 {'DEST_CFS_AREA': '34-408',
  'DEST_MA': 408,
  'DEST_STATE': 34,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 4238,
  'ORIG_CFS_AREA': '36-160',
  'ORIG_MA': 160,
  'ORIG_STATE': 36,
  'QUARTER': 4,
  'SCTG': '24',
  'SHIPMT_DIST_GC': 274,
  'SHIPMT_DIST_ROUTED': 381,
  'SHIPMT_ID': 2992667,
  'SHIPMT_VALUE': 30,
  'SHIPMT_WGHT': 20,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 141.9,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 42.1497,
  'orig_lon': -74.9384,
  'orig_state_alpha_code': 'NY',
  'orig_state_name': 'New York'},
 {'DEST_CFS_AREA': '17-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 17,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4232,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 3,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 1613,
  'SHIPMT_DIST_ROUTED': 1896,
  'SHIPMT_ID': 2992668,
  'SHIPMT_VALUE': 56,
  'SHIPMT_WGHT': 9,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 712.7,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_state_alpha_code': 'CA',
  'orig_state_name': 'California'},
 {'DEST_CFS_AREA': '22-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 22,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 5,
  'NAICS': 333,
  'ORIG_CFS_AREA': '48-288',
  'ORIG_MA': 288,
  'ORIG_STATE': 48,
  'QUARTER': 4,
  'SCTG': '34',
  'SHIPMT_DIST_GC': 264,
  'SHIPMT_DIST_ROUTED': 302,
  'SHIPMT_ID': 2992669,
  'SHIPMT_VALUE': 889,
  'SHIPMT_WGHT': 5,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 53.6,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 31.106,
  'orig_lon': -97.6475,
  'orig_state_alpha_code': 'TX',
  'orig_state_name': 'Texas'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 336,
  'ORIG_CFS_AREA': '20-556',
  'ORIG_MA': 556,
  'ORIG_STATE': 20,
  'QUARTER': 4,
  'SCTG': '37',
  'SHIPMT_DIST_GC': 368,
  'SHIPMT_DIST_ROUTED': 417,
  'SHIPMT_ID': 2992670,
  'SHIPMT_VALUE': 2444,
  'SHIPMT_WGHT': 13,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 293.7,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 38.5111,
  'orig_lon': -96.8005,
  'orig_state_alpha_code': 'KS',
  'orig_state_name': 'Kansas'},
 {'DEST_CFS_AREA': '19-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 19,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 4239,
  'ORIG_CFS_AREA': '17-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 17,
  'QUARTER': 4,
  'SCTG': '41',
  'SHIPMT_DIST_GC': 73,
  'SHIPMT_DIST_ROUTED': 81,
  'SHIPMT_ID': 2992671,
  'SHIPMT_VALUE': 7493,
  'SHIPMT_WGHT': 44771,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 264.7,
  'dest_lat': 32.799,
  'dest_lon': -86.8073,
  'dest_state_alpha_code': 'AL',
  'dest_state_name': 'Alabama',
  'orig_lat': 40.3363,
  'orig_lon': -89.0022,
  'orig_state_alpha_code': 'IL',
  'orig_state_name': 'Illinois'}]

In [ ]:
meta.tables['FIPS_States']

In [ ]:
t = text("""
    SELECT transactions.*,
        orig."Name" as orig_name,
        orig."Alpha code" as orig_alpha_code,
        orig."latitude" as orig_lat,
        orig."longitude" as orig_long,
        dest."Name" as dest_name,
        dest."Alpha code" as dest_alpha_code,
        dest."latitude" as dest_lat,
        dest."longitude" as dest_lon
    FROM transactions
    JOIN (
        SELECT states.*, lonlats.*
        FROM "FIPS_States" states
        JOIN state_latlon lonlats
        on states."Alpha code"=lonlats.state
         ) orig
        ON orig."Numeric code" = transactions."ORIG_STATE"
    JOIN (
        SELECT states.*, lonlats.*
        FROM "FIPS_States" states
        JOIN state_latlon lonlats
        on states."Alpha code"=lonlats.state
         ) dest
        ON dest."Numeric code" = transactions."DEST_STATE"
    WHERE
        dest."Alpha code"=:dest_code AND orig."Alpha code" =:orig_code
    LIMIT 100
        
    """)

In [ ]:
select([transactions,
        ])

In [ ]:
conn.execute(t.params(dest_code="CA", orig_code="TX")).fetchone()

In [ ]:
#with open('test_data.json', 'w') as f:
#    f.write(
#        json.dumps(
#            list(get_rows(conn.execute(t).fetchall())),
#            indent=2,
#            separators=(",", ":")
#             ))

In [ ]:
from sqlalchemy.sql import table

In [ ]:
#new_table = new_table.alias("namedStates")

In [ ]:
new_table_t = table(new_table)

In [ ]:
new_tableb

In [ ]:
orig_ = new_table.join(
    state_latlon,
    onclause=state_latlon.c.state == new_table.c.orig_state_alpha_code)

dest_ = new_table.join(
    state_latlon,
    onclause=state_latlon.c.state == new_table.c.dest_state_alpha_code)

In [ ]:
new_table2 = (select([new_table.alias(),
                    state_latlon.c.latitude.label('orig_lat'),
                    state_latlon.c.longitude.label('orig_lon')])
            .select_from(orig_.alias()))

In [ ]:
get_rows(conn.execute(select([new_table2.alias()])))

In [ ]:
list(get_rows(conn.execute(select([state_latlon])).fetchall()))

In [ ]:
list(get_rows(conn.execute(select([FIPS_States])).fetchall()))

In [29]:
orig = state_latlon_joined.alias("orig")

dest = state_latlon_joined.alias("dest")

In [38]:
orig.c.keys()

['FIPS_States_Name',
 'FIPS_States_Alpha code',
 'FIPS_States_Numeric code',
 'FIPS_States_Status',
 'state_latlon_state',
 'state_latlon_latitude',
 'state_latlon_longitude']

In [52]:
from sqlalchemy.sql import bindparam

In [57]:
state_latlon_joined = FIPS_States.join(
    state_latlon, onclause=state_latlon.c.state == FIPS_States.c["Alpha code"])

stmt = (select([transactions,
              orig.c.FIPS_States_Name.label("orig_name"),
              orig.c["FIPS_States_Alpha code"].label("orig_alpha_code"),
              dest.c["FIPS_States_Name"].label("dest_name"),
              dest.c["FIPS_States_Alpha code"].label("dest_alpha_code"),
              orig.c.state_latlon_latitude.label("orig_lat"),
              orig.c.state_latlon_longitude.label("orig_lon"),
              dest.c.state_latlon_latitude.label("dest_lat"),
              dest.c.state_latlon_longitude.label("dest_lon")])
        .select_from(transactions
                    .join(orig, transactions.c.ORIG_STATE == orig.c["FIPS_States_Numeric code"])
                    .join(dest, transactions.c.DEST_STATE == dest.c["FIPS_States_Numeric code"]))
        .where(orig.c["FIPS_States_Alpha code"] == bindparam("orig_code"))
        .where(dest.c["FIPS_States_Alpha code"] == bindparam("dest_code")))

In [58]:
list(get_rows(conn.execute(stmt.limit(10), orig_code='CA', dest_code='TX').fetchall()))

2015-12-24 20:49:49,446 INFO sqlalchemy.engine.base.Engine SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR", orig."FIPS_States_Name" AS orig_name, orig."FIPS_States_Alpha code" AS orig_alpha_code, dest."FIPS_States_Name" AS dest_name, dest."FIPS_States_Alpha code" AS dest_alpha_code, orig.state_latlon_latitude AS orig_lat, orig.state_latlon_longitude AS orig_lon, dest.state_latlon_latitude AS dest_lat, dest.state_latlon_longitude AS dest_lon
FROM transactions JOIN (SELECT "FIPS_States"."Name" AS "FIPS_States_Name", "FIPS_States"."Alpha code" AS "FIPS_States_Alpha code", "FIPS_States"."Numeric code" AS "FIPS_States_Numeric code", "FIPS_States"."Status" AS "FIPS_States_Status", state_latlon.state AS state_latlon_state, state_latlon.latitude AS state_latlon_latitude, state_latlon.longitude AS state_latlon_longitude
FROM "FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") AS orig ON transactions."ORIG_STATE" = orig."FIPS_States_Numeric code" JOIN (SELECT "FIPS_States"."Name" AS "FIPS_States_Name", "FIPS_States"."Alpha code" AS "FIPS_States_Alpha code", "FIPS_States"."Numeric code" AS "FIPS_States_Numeric code", "FIPS_States"."Status" AS "FIPS_States_Status", state_latlon.state AS state_latlon_state, state_latlon.latitude AS state_latlon_latitude, state_latlon.longitude AS state_latlon_longitude
FROM "FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") AS dest ON transactions."DEST_STATE" = dest."FIPS_States_Numeric code"
WHERE orig."FIPS_States_Alpha code" = %(orig_code)s AND dest."FIPS_States_Alpha code" = %(dest_code)s
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT transactions."SHIPMT_ID", transactions."ORIG_STATE", transactions."ORIG_MA", transactions."ORIG_CFS_AREA", transactions."DEST_STATE", transactions."DEST_MA", transactions."DEST_CFS_AREA", transactions."NAICS", transactions."QUARTER", transactions."SCTG", transactions."MODE", transactions."SHIPMT_VALUE", transactions."SHIPMT_WGHT", transactions."SHIPMT_DIST_GC", transactions."SHIPMT_DIST_ROUTED", transactions."TEMP_CNTL_YN", transactions."EXPORT_YN", transactions."EXPORT_CNTRY", transactions."HAZMAT", transactions."WGT_FACTOR", orig."FIPS_States_Name" AS orig_name, orig."FIPS_States_Alpha code" AS orig_alpha_code, dest."FIPS_States_Name" AS dest_name, dest."FIPS_States_Alpha code" AS dest_alpha_code, orig.state_latlon_latitude AS orig_lat, orig.state_latlon_longitude AS orig_lon, dest.state_latlon_latitude AS dest_lat, dest.state_latlon_longitude AS dest_lon
FROM transactions JOIN (SELECT "FIPS_States"."Name" AS "FIPS_States_Name", "FIPS_States"."Alpha code" AS "FIPS_States_Alpha code", "FIPS_States"."Numeric code" AS "FIPS_States_Numeric code", "FIPS_States"."Status" AS "FIPS_States_Status", state_latlon.state AS state_latlon_state, state_latlon.latitude AS state_latlon_latitude, state_latlon.longitude AS state_latlon_longitude
FROM "FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") AS orig ON transactions."ORIG_STATE" = orig."FIPS_States_Numeric code" JOIN (SELECT "FIPS_States"."Name" AS "FIPS_States_Name", "FIPS_States"."Alpha code" AS "FIPS_States_Alpha code", "FIPS_States"."Numeric code" AS "FIPS_States_Numeric code", "FIPS_States"."Status" AS "FIPS_States_Status", state_latlon.state AS state_latlon_state, state_latlon.latitude AS state_latlon_latitude, state_latlon.longitude AS state_latlon_longitude
FROM "FIPS_States" JOIN state_latlon ON state_latlon.state = "FIPS_States"."Alpha code") AS dest ON transactions."DEST_STATE" = dest."FIPS_States_Numeric code"
WHERE orig."FIPS_States_Alpha code" = %(orig_code)s AND dest."FIPS_States_Alpha code" = %(dest_code)s
 LIMIT %(param_1)s

2015-12-24 20:49:49,448 INFO sqlalchemy.engine.base.Engine {'param_1': 10, 'dest_code': 'TX', 'orig_code': 'CA'}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 10, 'dest_code': 'TX', 'orig_code': 'CA'}

[{'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 334,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 1,
  'SCTG': '35',
  'SHIPMT_DIST_GC': 1224,
  'SHIPMT_DIST_ROUTED': 1453,
  'SHIPMT_ID': 2993260,
  'SHIPMT_VALUE': 6067,
  'SHIPMT_WGHT': 19,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 271.3,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-41700',
  'DEST_MA': 41700,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 311,
  'ORIG_CFS_AREA': '06-41740',
  'ORIG_MA': 41740,
  'ORIG_STATE': 6,
  'QUARTER': 4,
  'SCTG': '06',
  'SHIPMT_DIST_GC': 1145,
  'SHIPMT_DIST_ROUTED': 1297,
  'SHIPMT_ID': 2994083,
  'SHIPMT_VALUE': 8136,
  'SHIPMT_WGHT': 1960,
  'TEMP_CNTL_YN': 'Y',
  'WGT_FACTOR': 135.5,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'M',
  'EXPORT_YN': 'Y',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 333,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 1,
  'SCTG': '35',
  'SHIPMT_DIST_GC': 1297,
  'SHIPMT_DIST_ROUTED': 1645,
  'SHIPMT_ID': 2995013,
  'SHIPMT_VALUE': 1215,
  'SHIPMT_WGHT': 273,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 831.8,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 339,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 4,
  'SCTG': '21',
  'SHIPMT_DIST_GC': 1205,
  'SHIPMT_DIST_ROUTED': 1419,
  'SHIPMT_ID': 2995273,
  'SHIPMT_VALUE': 364,
  'SHIPMT_WGHT': 17,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 501.9,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 332,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 1,
  'SCTG': '34',
  'SHIPMT_DIST_GC': 1223,
  'SHIPMT_DIST_ROUTED': 1440,
  'SHIPMT_ID': 2995319,
  'SHIPMT_VALUE': 666,
  'SHIPMT_WGHT': 31,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 1982.9,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-99999',
  'DEST_MA': 99999,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 313,
  'ORIG_CFS_AREA': '06-488',
  'ORIG_MA': 488,
  'ORIG_STATE': 6,
  'QUARTER': 1,
  'SCTG': '24',
  'SHIPMT_DIST_GC': 1428,
  'SHIPMT_DIST_ROUTED': 1855,
  'SHIPMT_ID': 2995351,
  'SHIPMT_VALUE': 684,
  'SHIPMT_WGHT': 42,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 133.6,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-288',
  'DEST_MA': 288,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4243,
  'ORIG_CFS_AREA': '06-488',
  'ORIG_MA': 488,
  'ORIG_STATE': 6,
  'QUARTER': 4,
  'SCTG': '30',
  'SHIPMT_DIST_GC': 1642,
  'SHIPMT_DIST_ROUTED': 1929,
  'SHIPMT_ID': 2995786,
  'SHIPMT_VALUE': 269,
  'SHIPMT_WGHT': 6,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 217.9,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 4,
  'NAICS': 332,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 2,
  'SCTG': '40',
  'SHIPMT_DIST_GC': 1239,
  'SHIPMT_DIST_ROUTED': 1449,
  'SHIPMT_ID': 2996165,
  'SHIPMT_VALUE': 158,
  'SHIPMT_WGHT': 69,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 484.6,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 334,
  'ORIG_CFS_AREA': '06-99999',
  'ORIG_MA': 99999,
  'ORIG_STATE': 6,
  'QUARTER': 2,
  'SCTG': '35',
  'SHIPMT_DIST_GC': 1333,
  'SHIPMT_DIST_ROUTED': 1572,
  'SHIPMT_ID': 2996626,
  'SHIPMT_VALUE': 47,
  'SHIPMT_WGHT': 10,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 75.8,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'},
 {'DEST_CFS_AREA': '48-206',
  'DEST_MA': 206,
  'DEST_STATE': 48,
  'EXPORT_CNTRY': 'N',
  'EXPORT_YN': 'N',
  'HAZMAT': 'N',
  'MODE': 14,
  'NAICS': 4243,
  'ORIG_CFS_AREA': '06-348',
  'ORIG_MA': 348,
  'ORIG_STATE': 6,
  'QUARTER': 2,
  'SCTG': '30',
  'SHIPMT_DIST_GC': 1239,
  'SHIPMT_DIST_ROUTED': 1449,
  'SHIPMT_ID': 2997033,
  'SHIPMT_VALUE': 37,
  'SHIPMT_WGHT': 1,
  'TEMP_CNTL_YN': 'N',
  'WGT_FACTOR': 3226.4,
  'dest_alpha_code': 'TX',
  'dest_lat': 31.106,
  'dest_lon': -97.6475,
  'dest_name': 'Texas',
  'orig_alpha_code': 'CA',
  'orig_lat': 36.17,
  'orig_lon': -119.7462,
  'orig_name': 'California'}]